extends layout

block content
  h1 Sublime Blindtest

  form(id="add-player-form")
    div(class="form-group")
      label Player name:
      input(type="text" placeholder="" class="player-name")

    input(type="button" id="add-player-btn" value="Add a player")


  form
    label Playlist name: 
    input(type="text" placeholder="" id="playlist-title")
    label Search:
    input(type="text" placeholder="" id="search-form-query")
    label
    input(type="button" id="search-form-submit" value="submit")
  <br/>
  <br/>
  button(id="trigger") Play
  button(id='next') Next
  button(id='answer') Answer

  div(id="answer-container")

  script(src="/javascripts/game-parameters.js")
  script(src="/javascripts/player.js")
  script(src="/javascripts/init.js")
